<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{/layout/layout::head}"></div>
    <title>chat room</title>
    <style>
        .box{
            display:flex;
            justify-content:center;
            text-align:center;
        }
    </style>
</head>
<header th:replace="~{/layout/layout::header}"></header>
<body>
    <div class="box">
        <input type="text" placeholder="보낼 메세지를 입력하세요." class="content">
        <button type="button" value="전송" class="sendBtn">전송</button>
        <button type="button" value="방나가기" class="quit">방 나가기 </button>
        <br>
    </div>
    <div>
        <span>메세지</span>
        <ul th:each="chatMessage : ${roomInfo.chatMessageList}">
            <li>
                <span th:text="${chatMessage.userEmail} + ':' + ${chatMessage.message}"></span>
            </li>
        </ul>
        <div class="msgArea" style="margin-left:30px;">
        </div>
    </div>
<script th:inline="javascript">
    var roomNumber = [[${roomInfo.chatRoom.roomNumber}]];
    var userEmail =  [[${user.userEmail}]];

        function connectWebSocket() {
            var socket = new WebSocket("ws://localhost:8080/wss/chat");

            socket.onopen = function (e) {
                console.log('서버 연결됨!');
                enterRoom(socket);
            };

            socket.onerror = function (e) {
                console.error('에러 발생:', e);
            };

            socket.onmessage = function (e) {
                console.log('메세지 수신:', e.data);
            };

            socket.onclose = function (e) {
                console.log('서버 연결 종료');
                // 페이지가 새로고침되지 않도록 예방하는 로직을 추가할 수 있음
            };

            return socket;
        }

        var socket = connectWebSocket();

        function enterRoom(socket){
            var enterMsg = {
                "messageType" : "ENTER",
                "roomNumber" : roomNumber,
                "userEmail" : userEmail,
                "message" : ""
            };
            socket.send(JSON.stringify(enterMsg));
        }

        function sendMsg() {
            var content = document.querySelector('.content').value;

            var talkMsg = {
                "messageType" : "TALK",
                "roomNumber" :  roomNumber,
                "userEmail" : userEmail,
                "message" : content
            };
            socket.send(JSON.stringify(talkMsg));
            $('.content').val('');
        }

        function quit(){
             var quitMsg={
                "messageType" : "QUIT",
                "roomNumber" : [[${roomInfo.chatRoom.roomNumber}]] ,
                "userEmail" : [[${user.userEmail}]],
                "message" :""
             };
            socket.send(JSON.stringify(quitMsg));
            socket.close();
            window.location.href="/chat";
        }

        socket.onmessage = function (e) {
            console.log(e.data);
            let msgArea = document.querySelector('.msgArea');
            let newMsg = document.createElement('div');
            newMsg.innerText = e.data;
            msgArea.append(newMsg);
        }
        document.querySelector('.sendBtn').addEventListener('click',sendMsg);
        document.querySelector('.quit').addEventListener('click',quit);
</script>
</body>
</html>