<!DOCTYPE html>
<html th:fragment="layout(head, header)" lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="blog">
    <meta name="author" content="717276">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{'/'}">717276</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{'/'}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/aboutMe'}">About Me</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            projects
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{'/chat'}">문의하기</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" th:href="@{'/board/1'}">게시판</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" th:href="@{'/shop'}">쇼핑</a></li>
                        </ul>
                    </li>
                </ul>

                <div class="dropdown">
                    <label for="search-dropdown" class="visually-hidden">Search Type</label>
                    <select id="search-dropdown" class="btn" onchange="handleSearchChange(this.value)">
                        <option value="post">게시물 검색</option>
                        <option value="item">아이템 검색</option>
                    </select>
                </div>

                <form id="searchForm" class="d-flex">
                    <div class="dropdown-search">
                        <input type="search" id="searchInput" class="form-control me-2" placeholder="Search" aria-label="Search">
                    </div>
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>

                <button th:unless="${#authorization.expression('isAuthenticated()')}"
                        type="button" class="btn btn-outline-success" id="loginButton" data-bs-toggle="modal"
                        data-bs-target="#loginModal">Login</button>
                <a th:if="${#authorization.expression('isAuthenticated()')}" class="btn" id="logoutButton"
                   href="/logout" >Logout</a>

                <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div th:replace="~{/login.html :: content}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
<script>
    var isAuthenticated = [[${#authorization.expression('isAuthenticated()')}]];

    document.addEventListener("DOMContentLoaded", function() {
        var chatLink = document.querySelector(".dropdown-item[href='/chat']");
        chatLink.addEventListener("click", function(event) {
            if (!isAuthenticated) {
                event.preventDefault();
                alert("로그인 후에 이용할 수 있습니다!");
            }
        });
    });
</script>
<script src="/js/search.js"></script>
</header>
</html>

