<!DOCTYPE html>
<html th:fragment="sidebar" lang="ko" xmlns:th="http://www.thymeleaf.org">

<body>
    <section th:fragment="sidebar">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

        <aside class="side-bar">
            <section class="side-bar__icon-box">
                <section class="side-bar__icon-1">
                    <div></div>
                    <div></div>
                    <div></div>
                </section>
            </section>
            <ul>
                <li>
                    <a href="#">menu1</a>
                    <ul>
                        <li><a href="#">text1</a></li>
                        <li><a href="#">text2</a></li>
                        <li><a href="#">text3</a></li>
                        <li><a href="#">text4</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">menu2</a>
                    <ul>
                        <li><a href="#">text1</a></li>
                        <li><a href="#">text2</a></li>
                        <li><a href="#">text3</a></li>
                        <li><a href="#">text4</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">menu3</a>
                    <ul>
                        <li><a href="#">text1</a></li>
                        <li><a href="#">text2</a></li>
                        <li><a href="#">text3</a></li>
                        <li><a href="#">text4</a></li>
                    </ul>
                </li>
            </ul>
        </aside>
    </section>
</body>
</html>
