<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout/layout.html::head}">
    <title>postList</title>
</head>
<header>
    <div th:replace="~{/layout/layout.html::header}"></div>
    <style>
        .post-list-box{
            max-width:600px;
            margin:0 auto;
            padding:20px;
            text-align: center; /* 가로 중앙 정렬 */
            border: 2px solid #ccc; /* 테두리 추가, 필요에 따라 조절 */
        }
        .pagination{
            text-align: center;
            margin-top:20px;
        }
        .pagination .page-item{
            display inline-block;
            margin-right: 5px;
        }
    </style>
</header>

<body>
    <section th:replace="~{/layout/sidebar.html::section}"></section>
    <section>
<div class="post-list-box">
    <div class="post-list">
        <ul>
            <li th:each="post : ${postList}" >
                <div>
                    <a th:href="@{/post/view/{postId}(postId=${post.getPostId()})}">
                        <span th:text="${post.getPostTitle()}"></span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <div class="post-write-button">
        <button th:if="${userRole} != 'default'" class="btn" type="button" onclick="goWritePost()">글 작성</button>
    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li th:if="${page.curPageNum > 1}" class="page-item">
                <a th:data-page="${page.curPageNum - 1}" class="page-link">Previous</a>
            </li>
            <li th:each="curPage : ${#numbers.sequence(page.startPageNum, page.endPageNum)}" th:class="${curPage == page.curPageNum} ? 'page-item active' : 'page-item'">
                <a th:data-page="${curPage}" class="page-link" th:text="${curPage}"></a>
            </li>
            <li th:if="${page.curPageNum < page.endPageNum}" class="page-item">
                <a th:data-page="${page.curPageNum + 1}" class="page-link">Next</a>
            </li>
        </ul>
    </nav>
</div>
    </section>
    <script>
        function goWritePost() {
            window.location.href='/post/write';
        }

        $(document).ready(function () {
            $('.pagination .page-link').click(function (event) {
                event.preventDefault();

                var currentPage = $(this).data('page');
                window.location.href='/board/' + currentPage;
            });
        });
    </script>
    <script src="/js/sidebar.js"></script>
    <script src="/js/search.js"></script>
</body>
</html>
