<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/layout.html::head}">
    <title>postList</title>
</head>
<body>
    <section th:replace="~{layout/sidebar.html::section}"></section>
    <section>
    <div>
        <ul>
            <li th:each="post : ${postList}">
                <div>
                    <a th:href="@{'/post/list?postId=' + ${post.getId()}}">
                        <span th:text="${post.getPostTitle()}"></span>
                    </a>
                </div>
            </li>
        </ul>
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li th:if="${currentPage > 1}" class="page-item">
                <a th:href="@{'/posts?page=' + (currentPage - 1)}" class="page-link">Previous</a>
            </li>
            <li th:each="page : ${#numbers.sequence(1, totalPages)}" th:class="${page == currentPage} ? 'page-item active' : 'page-item'">
                <a th:href="@{'/posts?page=' + page}" class="page-link" th:text="${page}"></a>
            </li>
            <li th:if="${currentPage < totalPages}" class="page-item">
                <a th:href="@{'/posts?page=' + (currentPage + 1)}" class="page-link">Next</a>
            </li>
        </ul>
    </nav>
    </section>
    <script th:src="js/sidebar.js"></script>
    <script th:src="js/search.js"></script>
</body>
</html>
