<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/layout.html::head}">
    <title>postList</title>
</head>
<body>
    <section th:replace="~{layout/sidebar.html::section}"></section>
    <section>
    <div>
        <ul class="post-list" data-category-id="${categoryId}">
            <li th:each="post : ${postList}" >
                <div>
                    <a th:href="@{'/post/view?postId=' + ${post.getPostId()} + 1}">
                        <span th:text="${post.getPostTitle()}"></span>
                    </a>
                </div>
            </li>
        </ul>
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li th:if="${page.curPageNum > 1}" class="page-item">
                <a data-page="${page.curPageNum - 1}" class="page-link">Previous</a>
            </li>
            <li th:each="page : ${#numbers.sequence(1, page.lastPageNum)}" th:class="${page == page.curPageNum} ? 'page-item active' : 'page-item'">
                <a data-page="${page.curPageNum}" class="page-link" th:text="${page.curPageNum}"></a>
            </li>
            <li th:if="${page.curPageNum < page.lastPageNum}" class="page-item">
                <a data-page="${page.curPageNum + 1}" class="page-link">Next</a>
            </li>
        </ul>
    </nav>
    </section>
    <script>
        $(document).ready(function () {
            $('.pagination .page-link').click(function (event) {
                event.preventDefault();

                var currentPage = parseInt($(this).data('page'));
                var categoryId = $('.post-list').data('category-id');
                $.ajax({
                    type: 'GET',
                    url: '/post/list',
                    data: {
                        categoryId : categoryId,
                        currentPage : currentPage
                    },
                    success: function (postListData) {
                        var newPostListHtml = '';
                        for (var i = 0; i < postListData.length; i++) {
                            newPostListHtml += '<li>';
                            newPostListHtml += '<div>';
                            newPostListHtml += '<a href="/post/view?postId=' + postListData[i].postId + '">' +
                                '<span>' + postListData[i].postTitle + '</span></a>';
                            newPostListHtml += '</div>';
                            newPostListHtml += '</li>';
                        }
                        $('.post-list').html(response);
                    },
                    error: function (error) {
                        console.error('Error request:', error);
                    }
                });
            });
        });
    </script>
    <script th:src="js/sidebar.js"></script>
    <script th:src="js/search.js"></script>
</body>
</html>
