<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/layout.html :: head}">
    <title>Write Post</title>
    <style>
        .container {
            max-width: 600px;
        }
        .category-list {
            margin-bottom: 10px;
        }
    </style>
</head>
<header th:replace="~{layout/layout.html::header}"></header>
<body>

    <div class="container mt-5">
        <h5>글 작성</h5>
        <div class="mt-3 mb-3">
            <select id="categoryTitle" name="categoryTitle" class="form-select ps-3" aria-label="Select category">
                <option selected>카테고리를 선택해주세요</option>
                <option th:each="categoryOption : ${categoryList}"  th:attr="data-category-id=${categoryOption.getCategoryId()}" th:text="${categoryOption.getCategoryTitle()}" >Java</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="title" class="form-label">제목</label>
            <input type="text" class="form-control" id="title">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea class="form-control" id="content" rows="10"></textarea>
        </div>

        <div th:if="${#authorization.expression('isAuthenticated')}">
        </div>
        <button type="button" class="btn btn-primary" onclick="writePost()">글 작성</button>
    </div>
<script>
        var categoryId;
        $('#categoryTitle').change(function(){
            categoryId = $(this).find(':selected').data('category-id');
console.log("Category ID:", $(this).find(':selected').data('category-id'));
        });

        function writePost() {
            var userId = $('#userId').val();
            var title = $('#title').val();
            var content = $('#content').val();

console.log("user ID:", $('#userId').data('user-id'));
console.log("categoryId:", categoryId);
console.log("userId:", userId);
            $.ajax({
                type:'POST',
                url:'/post/write',
                data: JSON.stringify({
                    userId: userId,
                    postTitle: title,
                    postContent: content,
                    categoryId: categoryId
                }),
                contentType: 'application/json',
                success: function(response){
                    alert("작성 성공");
                },
                error: function(error){
                    alert("작성 실패");
                }
            });
        }
    </script>
<script th:src="@{'/js/sidebar.js'}"></script>
<script th:src="@{'/js/search.js'}"></script>

</body>
</html>
