<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{layout/layout.html :: head}"></div>
    <title>Post View</title>
    <style>
        .postBox,
        .post-content,
        .mb-2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .mb-2 ul {
            list-style: none;
            padding: 0;
        }

        .mb-2 li {
            margin-bottom: 10px;
        }
        .comment-btn,
        .post-button {
            display: flex;
            justify-content: flex-end;
            margin-top: 10px;
        }

    </style>
</head>
<header th:replace="~{layout/layout::header}"></header>
<body>
<div class="main">
    <div class="postBox">
        <div class="login-info" th:if="${#authorization.expression('isAuthenticated')}">
            <input type="hidden" id="loginId" th:data-login-id="${loginUser.userId}">
            <input type="hidden" id="loginRole" th:data-login-role="${loginUser.role}">
            <input type="hidden" id="loginName" th:data-login-name="${loginUser.userName}">

        </div>
        <div class="post-info">
            <input type="hidden" id="postId" th:data-post-id="${post.postId}">
            <input type="hidden" id="postUserId" th:data-user-id="${post.userId}">
        </div>
        <div class="post-title mb-2">
            <span><h1 th:text="${post.getPostTitle()}">제목</h1></span>
        </div>
        <div class="post-date">
            <span><h5 th:text="|작성일 : ${#temporals.format(post.getCreatedTime(), 'yyyy-MM-dd')}|">작성일</h5></span>
        </div>
        <div class="post-writer">
            <span><h2 th:text="|작성자 : ${postUser.userName}|">작성자</h2></span>
        </div>
    </div>

    <div class="post-content">
        <div th:utext="${post.getPostContent()}"></div>
    </div>

    <div th:if="${#authorization.expression('isAuthenticated')}">
        <div class="post-button" th:if="${postUser.userId} == ${loginUser.userId} or ${loginUser.role} == 'ROLE_ADMIN'">

            <a th:href="@{/post/edit(postId=${post.getPostId()})}">
                <button type="button" class="btn btn-warning">글 수정</button>
            </a>
            <a th:href="@{/post/delete(postId=${post.getPostId()})}">
                <button type="button" class="btn btn-danger">글 삭제</button>
            </a>
        </div>
    </div>
</div>

<div class="commentBtn">
    <form>
        <div class="mb-3">
            <label for="commentInput" class="form-label">댓글 작성</label>
            <input type="text" id="commentInput" class="form-control" placeholder="댓글 입력">
        </div>
        <div class="comment-btn" th:if="${#authorization.expression('isAuthenticated')}">
            <button type="button" class="btn btn-primary" id="commentWriteBtn">댓글 작성</button>
        </div>
    </form>
</div>

<div class="mb-2">
    <ul class="comment-list">
        <li th:each="comment : ${commentList}">
            <input type="hidden" class="commentId" th:data-userId="${comment.userId}">
            <input type="hidden" class="commentWriter" th:data-commentWriter="${comment.commentWriter}">

            <b id="'commentWriter_' + ${comment.commentId}" th:text="${comment.commentWriter}"></b>
            <span style='float:right;' align='right' id="'commentDate_' + ${comment.commentId}"
                  th:text="${comment.createdTime}"></span>

            <div class='comment_content mb-1'>
                <h5 id="'commentText_' + ${comment.commentId}" style='display: inline'
                    th:text="${comment.commentContent}"></h5>
            </div>

            <span style='cursor: pointer; color: blue' class='reCommentBtn' id="'reCommentBtn_' + ${comment.commentId}"
                  th:data-parent-id="${comment.commentId}"> 답글 달기 </span>
            <span style='display:none; cursor: pointer; color: blue' class='reCommentCloseBtn'
                  id="'reCommentCloseBtn_' + ${comment.commentId}">답글 닫기 </span>

            <div th:if="${#authorization.expression('isAuthenticated')}">
                <button th:if="${(comment.userId == loginUser.userId)}" style='cursor: pointer; color: blue'
                        class='btn commentMod'> 수정
                </button>
                <button th:if="${loginUser.role == 'ROLE_ADMIN' or (comment.userId == loginUser.userId)}"
                        style='cursor: pointer; color: blue' class='btn commentDel'>삭제
                </button>
            </div>

            <hr>
            <div class='mx-4 reCommentDiv' id="'reCommentDiv_' + ${comment.commentId}"></div>
        </li>
    </ul>
</div>
<script>
    $(document).ready(function() {

        $('#commentWriteBtn').click(function(event) {
            event.preventDefault();

            var postId = $('#postId').data('post-id');
            var commentContent = $('#commentInput').val();
            var commentUserId = $('#loginId').data('login-id');

            $.ajax({
                type:'POST',
                url:'/comment/addComment',
                data: {
                    postId : postId,
                    commentContent: commentContent,
                    commentUserId : commentUserId
                },
                success: function(response) {
                    updateCommentList(response);

                    alert("add comment")
                },
                error: function() {
                    alert("fail add comment")
                }
            });
        });
        $(document).on("click",".reCommentBtn",function(){
            const parentId = $(this).data('parent-id');
            const _this = $(this);
            $.ajax({
                type:'GET',
                url: '/comment/addReComment',
                data:{parentId : parentId},
                success: function(response){
                    let html = "";
                    if (response.length > 0) {
                        for (let i = 0; i < response.length; ++i){
                            html += "<div class='mb-2'>";
                            html += "<input type='hidden' id='commentId_" + response[i].commentId +"' value='" + response[i].commentId + "'>"
                            html += "<b id='commentWriter_" + response[i].commentId + "' >" + response[i].writer + "</b>";
                            html += "<span style='float:right;' align='right' id='commentDate'> " + displayTime(response[i].createdTime) + " </span>";
                            html += "<h5 id='commentText_"+ response[i].id +"'>" + response[i].commentContent + "</h5>";
                            if (response[i].writer === $("#loginId").data('login-id')) { // 수정
                                html += "<span style='cursor: pointer; color: blue' class='commentMod'>수정 </span>";
                                html += "<span style='cursor: pointer; color: blue' class='commentDel'>삭제</span>";
                            } else if($("#loginRole").data('login-role') === "ROLE_ADMIN"){
                                html += "<span style='cursor: pointer; color: blue' class='commentDel'>삭제</span>";
                            }
                            html += "<hr>";
                            html += "</div>";
                        }
                    } else {
                        html += "<div class='mb-2'>";
                        html += "<h6><strong>등록된 댓글이 없습니다.</strong></h6>";
                        html += "</div>";
                    }
                    html += "<input style='width: 90%' id='reComment_' class='reComment' name='reComment' placeholder='댓글을 입력해 주세요'>";
                    html += "<button type='button' class='btn btn-primary mx-2 reCommentSubmit'>등록</button>";

                    _this.siblings(".reCommentDiv").html(html);
                },
                error:function(error) {
                    alert("code error: " + error);
                }
            });
        });
        function updateCommentList(response) {
            var loginId = $('#loginId').data('login-id');
            var loginRole = $('#loginRole').data('login-role');
            var loginName = $('#loginName').data('login-name');
            var postId = $('#postId').data('post-id');

            let html = "";
            if (response.length > 0) {
                 for (let i = 0; i < response.length; ++i) {
                     html += "<div class='mb-2'>";
                     html += "<input type='hidden' id='commentId' data-commentId='" + response[i].commentId + "'>";
                     html += "<b id='commentWriter'>" + response[i].writer + "</b>";
                     html += "<span style='float:right;' align='right' id='createdTime'>" + displayTime(response[i].createdTime) + "</span>";
                     html += "<div class='mb-1 comment-box'>";
                     html += "<h5 id='commentText_ "+response[i].commentId +"' style='display;inline'>" + response[i].commentContent + "</h5>";

                     if (response[i].commentWriter === loginName && response.userId === loginId) {
                        html += "<span style='cursor: pointer; color: blue' class='commentMod'>수정</span>";
                        html += "<span style='cursor: pointer; color: blue' class='commentDel'>삭제</span>";
                        } else if (loginRole === 'ROLE_ADMIN') {
                            html += "<span style='cursor: pointer; color: blue' class='commentDelete'>삭제</span>";
                        }
                            html += "<span style='cursor: pointer; color:blue' class='reCommentBtn' id='reCommentBtn-" + response[i].commentId + "'>답글 달기</span>";
                            html += "</div>";
                            html += "</div>";
                        }
                    } else {
                        html += "<div class='mb-2'>";
                        html += "<h5><strong>등록된 댓글이 없습니다.</strong></h5>";
                        html += "</div>";
                    }
                    $("#comment-list").html(html);
        }
        function displayTime(timestamp) {
            const date = new Date(timestamp);
            const options = { year: 'numeric', month: 'short', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric', hour12: false };
            return date.toLocaleString('en-US', options);
        }


        $(document).on("click","commentMod", function() {
            var commentId = $(this).siblings('commentId').data('commentId');
            var commentContent = $(this).siblings('.comment-box').find('#commentContent').text();

            var editForm = "<div class='edit-form'>";
            editForm += "<textarea id='editCommentContent'>" + commentContent + "</textarea>";
            editFrom += "<button class='btn btn-primary' id='editCommentBtn' data-commentId='"+commentId+"'>수정 완료</button>";
            editForm += "</div>";

            $(this).siblings("h5").replaceWith(editForm);
        });
        $(document).on("click","commentDel", function() {
            var commentId = $(this).siblings('commentId').data('commentId');
            $.ajax({
                type:'PUT',
                url:'/comment/delete',
                data:{commentId:commentId},
                success:function(){
                    alert("삭제 성공");
                },
                error:function(){
                    alert("삭제 실패");
                }
            });
        });
        $(document).on("click", "#editCommentBtn", function(){
            var editComment = $('#editCommentContent').val();
            var commentId = $(this).data('commentId');
            $.ajax({
                type:'PUT',
                url: '/comment/edit',
                data: {
                    commentId : commentId,
                    editComment : editComment
                },
                success: function(response) {
                    alert("수정 완료");
                },
                error: function(error) {
                    alert("수정 실패");
                }
            });
            var originalCommentContent = "<h5 id='commentText_" + commentId + "'>" + editedCommentContent + "</h5>";
            $(this).closest('.edit-form').replaceWith(originalCommentContent);
        });
    });

</script>
<script th:src="@{/js/sidebar.js}"></script>
<script th:src="@{/js/search.js}"></script>
</body>
</html>