@media(max-width:800px){
    .item-filter{
        float:right;
        display:none;
    }
    .grid-container {
        display: grid;
        gird-template-columns: 1fr;
        gird-template-rows: 1fr;
        padding:50px;
        margin:50px;
    }
}
.grid-border{
    margin-top:40px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    list-style: none;
    padding: 10px;
}

.grid-item {
    text-align: center;
    border: 2px solid #ccc;
    padding: 20px;
}
.item-filter {
    float:right;
    margin-bottom:10px;
}
.image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.item-text,
.item-price {
    text-align: center;
    margin-top: 30px;
}
