<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{layout/layout.html::head}"></div>
    <style>
        .item-info{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh
        }
        .total-price{
            display: flex;
            justify-content: center;
            text-align:center;
            margin-top: 10px;
            height: 100vh
        }
        .buy-button {
            display:flex;
            justify-content:center;
            text-align: center;
            margin-top: 10px;
        }
    </style>
</head>
<header th:replace="~{layout/layout.html::header}"></header>
<body>
<div class="item-info">
    <ul>
        <li th:each="item : ${items}">
            <div class="item-basket">
                <div class="item-img">
                    <img th:src="'/' + ${item.imgUrl}" class="img">
                </div>
                <br>
                <div class="item-itemName">
                    <span th:text="${item.itemName}" class="itemName"></span>
                </div>
                <br>
                <div class="item-price">
                    <span th:text="${item.price}" class="price"></span>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="total-price">
    <span th:text="${totalPrice}" class="totalPrice">총액: </span>
</div>
<div class="buy-button">
    <button type="button" class="btn" id="buyButton">결제하기</button>
</div>
<script>
    $('#buyButton').click(function(){
        window.location.href='/shop/payment';
    });
</script>
</body>
</html>