<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{layout/layout::head}"></div>
    <!-- iamport.payment.js -->
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
    <script>
        function requestPay() {
            var itemNames = []

            $('span[id^="item-name"]').each(function(){
                itemNames.push($(this).text());
            });

            var itemName = itemNames.join(",");

            var amount = [[${totalPrice}]];
            var buyer_email = $('#user-email').val();
            var buyer_name = $('#user-id').val();
            var buyer_tel = $('#buyer-tel').val();
            var buyer_addr = $('#buyer-addr').val();
            var buyer_postcode = $('#buyer-postcode').val();

            var IMP = window.IMP;
            IMP.init("imp24327718");

            IMP.request_pay({
                pg: "kakaopay",
                pay_method: "card",
                merchant_uid: 'merchant_uid' + new Date().getTime(),
                name: itemName,
                amount: amount,
                buyer_email: buyer_email,
                buyer_name: buyer_name,
                buyer_tel: buyer_tel,
                buyer_addr: buyer_addr,
                buyer_postcode: buyer_postcode
            }, function (rsp) { // callback
                if (rsp.success){
                    $.ajax({
                    type: 'POST',
                    url: '/verify/' + rsp.imp_uid
                    }).done(function(data) {
                        if(rsp.paid_amount === data.response.amount){
                            alert("결제 성공");
                        } else {
                            alert("결제 실패");
                        }
                    });
                } else {
                    var msg = '결제 실패';
                    msg += '에러 내용:' + rsp.error_msg;
                    alert(msg);
                }
            });
        }
    </script>
    <meta charset="UTF-8">
    <title>Sample Payment</title>
    <sytle>

    </sytle>
</head>
<body>
    <div class="item-container">
        <ul>
            <li th:each="item : ${items}">
                <div>
                    <img th:src="'/' + ${item.imgUrl}" class="image">
                </div>
                <th:block>
                    <label for="item-name">제품명: </label>
                    <span th:text="${item.itemName}" id="item-name"></span>
                    <label for="item-price">가격: </label>
                    <span th:text="${item.price}" id="item-price"></span>
                </th:block>
            </li>
        </ul>
    </div>
    <div class="user-info">
        <input type="hidden" th:value="${user.userName}" id="user-name">
        <input type="hidden" th:value="${user.userEmail}" id="user-email">
        <label for="buyer-tel">전화번호:</label>
        <input type="tel" id="buyer-tel" name="buyer-tel" placeholder="전화번호를 입력하세요" required>
        <label for="buyer-addr">주소:</label>
        <input type="text" id="buyer-addr" name="buyer-addr" placeholder="주소를 입력하세요" required>
        <label for="buyer-postcode">우편번호:</label>
        <input type="text" id="buyer-postcode" name="buyer-postcode" placeholder="우편번호를 입력하세요" required>
    </div>
    <div class="total-result">
        <label for="total-price">총 결제액: </label>
        <input type="hidden" id="total-price" th:value="${totalPrice}"/>
        <span th:text="${totalPrice}"></span>
    </div>
    <div>
        <button onclick="requestPay()">결제하기</button> <!-- 결제하기 버튼 생성 -->
    </div>
</body>
</html>