<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{/layout/layout.html::head}"></div>
    <title>shop</title>
    <link rel="stylesheet" href="/css/shopList.css"/>
</head>
<header th:replace="~{/layout/layout.html::header}"></header>
<body>
    <section th:replace="~{/layout/sidebar.html::sidebar}"></section>
        <div class="item-filter">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" data-item-id="1">오래된순</a></li>
                <li><a class="dropdown-item" data-item-id="2">최신순</a></li>
                <li><a class="dropdown-item" data-item-id="3">인기순</a></li>
                <li><a class="dropdown-item" data-item-id="4">낮은가격순</a></li>
                <li><a class="dropdown-item" data-item-id="5">높은가격순</a></li>
            </ul>
        </div>

        <div class="grid-border">
            <ul class="grid-container" style="margin-left:100px; margin-right:100px;">
                <li th:each="item : ${items}" class="images grid-item" style="width:100%; height:auto;">
                    <a th:href="'/shop/item/' + ${item.itemId}" class="item-link" style="cursor:pointer" >
                        <img th:src="${item.imgUrl}" class="image">
                    </a>
                    <div class="item-text">
                        <span th:text="${item.itemName}" class="detail-name"></span>
                    </div>
                    <div class="item-price">
                        <span th:text="${item.price}" class="detail-price"></span>
                    </div>
                    <div class="delete-item" th:if="${#strings.equals(userRole,'ROLE_ADMIN')}">
                        <button class="btn" type="button" th:data-delete-item-id="${item.itemId}" onclick="deleteItem(this)">삭제</button>
                    </div>
                </li>
            </ul>
        </div>
    <div class="nav-style" style="margin-left:50%;">
        <nav aria-label="Page navigation" >
            <ul class="pagination">
                <li th:if="${page.curPageNum} > 1" class="page-item">
                    <a th:data-page="${page.curPageNum - 1}" class="page-link">previous</a>
                </li>
                <li th:each="curPage : ${#numbers.sequence(page.startPageNum, page.endPageNum)}"
                    th:class="${curPage == page.curPageNum} ? 'page-item active' : 'page-item' ">
                    <a th:data-page="${curPage}" class="page-link" th:text="${curPage}"></a>
                </li>
                <li th:if="${page.curPageNum < page.endPageNum}" class="page-item">
                    <a th:data-page="${page.curPageNum + 1}" class="page-link">next</a>
                </li>
            </ul>
        </nav>
    </div>
    <script>

    $(document).ready(function(){
        $('.pagination .page-link').click(function(event){
            event.preventDefault();
            var curPage = $(this).data('page');
            window.location.href='/shop/list'
        });
    });

    $('.dropdown-item').click(function(){
        var orderId = $(this).data('item-id');

        $.ajax({
            type:'GET',
            url:'/shop/order/' + orderId,
            success:function(response){
                $('.grid-container').empty();
                var html = "";
                for (let i = 0; i < response.length; i++) {
                    html += '<li class="images grid-item">';
                    html += '<a href="/shop/item/' + response[i].itemId + '" class="item-link" style="cursor:pointer" data-item-id="' + response[i].itemId + '">';
                    html += '<img src="' + response[i].imgUrl + '" class="image">';
                    html += '</a>';
                    html += '<div class="item-text">';
                    html += '<span class="detail-name">' + response[i].itemName + '</span>';
                    html += '</div>';
                    html += '<div class="item-price">';
                    html += '<span class="detail-price">' + response[i].price + '</span>';
                    html += '</div>';
                    html += '</li>';
                }
                $('.grid-container').html(html);
            },
            error: function(error) {
                console.log('order error', error);
            }
        });
    });
    $('#add-item').click(function(){
        $.ajax({
            type:'GET',
            url:'/shop/add',
            success:function(){
                alert('item add');
            },
            error:function(){
                alert('item add error');
            }
        });
    });
    function deleteItem(button) {
        var deleteId = $(button).data('delete-item-id');
        $.ajax({
            type:'GET',
            url:'/shop/delete/' + deleteId,
            success:function(){
                alert('item delete');
                location.reload();
            },
            error:function(){
                alert('item delete error');
            }
        });
    };


</script>
</body>
</html>
