<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{layout/layout.html::head}"></div>
    <title>shop</title>
    <link rel="stylesheet" href="./css/shopList.css"/>
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;700&display=swap" rel="stylesheet" />
    <style>
        .table-container {
            display: table;
            width: 100%;
            height: 100%;
        }
        .table-cell {
            display: table-cell;
            vertical-align: top;
        }
        .detail-box {
            position: relative;
        }
        .detail-goods {
            text-align: center;
        }
        .item-filter {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1000; /* Adjust the z-index as needed */
        }
        .item-box {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3,300px);
            gap: 20px;
        }
        .item-img{
            border-style: hidden;
        }
    </style>
</head>
<header th:replace="~{layout/layout.html::header}"></header>
<body>
    <section th:replace="~{layout/sidebar.html::sidebar}"></section>
    <main class="detail-box">
        <div class="item-filter">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" data-item-id="1">오래된순</a></li>
                <li><a class="dropdown-item" data-item-id="2">최신순</a></li>
                <li><a class="dropdown-item" data-item-id="3">인기순</a></li>
                <li><a class="dropdown-item" data-item-id="4">낮은가격순</a></li>
                <li><a class="dropdown-item" data-item-id="5">높은가격순</a></li>
            </ul>
        </div>

        <div class="table-container">
            <div class="table-cell">
                <div class="detail-container">
                    <div class="detail-goods-photo">
                        <ul class="item-box" id="each-item">
                            <li th:each="item : ${items}" class="detail-goods">
                                <a href="#" class="item-link" style="cursor:pointer" data-item-id="${item.itemId}"></a>
                                <img th:src="${item.imgUrl}" class="item-img">
                                <div class="item-text">
                                    <span th:text="${item.itemName}" class="detail-name"></span>
                                </div>
                                <div class="item-price">
                                    <span th:text="${item.price}" class="detail-price"></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="add-item" th:if="${userRole != null && userRole.equals('[ROLE_ADMIN]')}">
        <button id="add-item" class="btn" type="button" data-item-add="add">제품 추가</button>
        <button id="delete-item" class="btn" type="button" data-item-delete="delete">제품 삭제</button>
    </div>
<script>
    $('.dropdown-item').click(function(){
        var orderId = $(this).data('item-id');

        $.ajax({
            type:'GET',
            url:'/shop/order',
            data:{orderId : orderId},
            success:function(response){
                var html = "";

                for (let i = 0; i < response.length; i++) {
                    html += '<li>';
                    html += '<a th:href="#" class="item-link" style="cursor:pointer" data-item-id="' + response[i].itemId + '"></a>';
                    html += '<img th:src="' + response[i].imgUrl + '" class="item-img">';
                    html += '<div class="item-text">';
                    html += '<span th:text="' + response[i].itemName + '" class="item-title"></span>';
                    html += '</div>';
                    html += '<div class="item-price">';
                    html += '<span th:text="' + response[i].price + '" class="item-price"></span>';
                    html += '</div>';
                    html += '</li>';
console.log(response[i].imgUrl, response[i].itemName, response[i].price);
                }
                $('#each-item').html(html);
            },
            error: function(error) {
                console.log('order error', error);
            }
        });
    });
    $('.item-link').click(function(){
        var itemId = $(this).data('item-id');
        $.ajax({
            type:'GET',
            url:'/shop/item',
            data:{itemId:itemId},
            success:function(response){console.log('item success',response)},
            error:function(error){console.log('item error',error)}
        });
    });
    $('#add-item').click(function(){
        $.ajax({
            type:'GET',
            url:'/shop/add',
            success:function(){
                alert('item add');
            },
            error:function(){
                alert('item add error');
            }
        });
    });
    $('#add-delete').click(function(){
        $.ajax({
            type:'GET',
            url:'/shop/delete',
            success:function(){
                alert('item delete');
            },
            error:function(){
                alert('item delete error');
            }
        });
    });
</script>
</body>
</html>
